@font-face{
	font-family: "PassionOne";
	src: url("Fonts/PassionOne-Regular.ttf");
}
@font-face{
	font-family: "Ramabhadra";
	src: url("Fonts/Ramabhadra-Regular.ttf");
}
@font-face{
	font-family: "Catamaran";
	src: url("Fonts/Catamaran-Regular.ttf");
}
@font-face{
	font-family: "FiraSans";
	src: url("Fonts/FiraSansCondensed-SemiBold.ttf");
}
@font-face{
	font-family: "Merriweather";
	src: url("Fonts/MerriweatherSans-Regular.ttf");
}
@font-face{
	font-family: "FrancoisOne";
	src: url("Fonts/FrancoisOne-Regular.ttf");
}
.univ-logo{
	height: 100%;
}
.mainnav{
	background-color: #123;
	color: #D05728;
}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a:focus{

	color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > .open > a:focus,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover{
color:#D05728;
background-color: #123;
}
.navbar{
	margin: 0px;
	border: 0px;
	border-radius: 0px;
}
.cover{
	height: 500px;
	background-image: url("../Images/junction.jpg");
	background-size: cover;
}
.covercont{
	padding: 20vh;
	height: 100%;
	width: 100%;
	background-color: rgba(71,83,91,0.5);
	text-align: center;
}
.covercont h1{
	font-family: "FrancoisOne";
	color:#FFF;
	font-size: 10vh;
}
.covercont span{
	color: #D05728;
}
.covercont a{
	text-decoration: none;
	background-color: #D05728;
	color: #FFF;
	border: solid 1px #D05728;
	padding: 1vh;
	opacity: 0.5;
	border-radius: 2vh;
}
.covercont a:hover{
    background-color: transparent;
    opacity: 1;
    color: #D05728;
}
.mainwrap{
	background-color: #EEE2DC;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.imagewrap img{
 width: 100%;
}
.post{
	box-shadow: #828282 1px 1px 1px;
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
	background-color: #FFF;
	height: 600px;
}
.post img{
	height: 20%;
}
.post hr{
	border: solid 1px #D05728;
}

.post a{
	font-family: "FiraSans";
	height: 40%;
	font-size: 20px;
	text-decoration: none;
	font-weight: bolder;
}
.post p{
    font-family: "Merriweather";	
    font-size: 12px;
}
.sidebar{
	box-shadow: #828282 1px 1px 1px;
	background-color: #FFF;
	padding: 0px;
	margin-bottom: 10px;
}
.sidebar h2{
	font-family: "PassionOne";
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 0px;
    background-color: #123C69;
    color: #FFF;
    text-align: center;
}
.innerSide{
	padding: 1vh;
	text-align: center;
}
.innerSide ul{
	list-style: none;
	padding-left: 0px;
}
.innerSide ul li a{
	text-decoration: none;
	cursor: pointer;
	font-family: "Catamaran";
	font-size: 2.5vh;
}
.innerSide a:hover{
	color: #D05728;
}
.footer{
	background-color: #161616;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
}
.footer a{
	text-decoration: none;
	color: #FFF;
}
.mainContain{
	background-image: url("../Images/KSC_5685.jpg");
	background-size: cover;
	height: 650px;
	padding: 0px;
}
.formContain{
	background-color: rgba(226,239,247,0.5);
	padding: 75px;
	color:#000;
	border-radius: 10px;
	font-family: "FiraSans";
}
.innerContain{
	padding-top: 100px;
	padding-bottom: 100px;
	height: 100%;
	width: 100%;
	background-color: rgba(22,33,40,0.6);
}
.logbtn{
	background-color: transparent;
	border: solid 1px #D05728;
	color: #D05728;
	font-weight: bold;
}
.logbtn:hover,.logbtn:active,.logbtn:focus{
	border: solid 1px #D05728 !important;
	background-color: rgba(208,87,40,0.5) !important;
	color: #FFF !important;
}
.form-group{

}
.logowrap{
	border-right: solid 1px #FFF;
	height: 200px;
}
.formContain h1{
	color: #D05728;
	text-align: center;

}
.mainContains{
	background-image: url("../Images/KSC_5685.jpg");
	background-size: cover;
	height: 1200px;
	padding: 0px;
}
.sign-contain{
	text-align: center;
}
.formContain hr{
	border: solid 1px #D05728;
	width: 70%;
}
.profWrap{
	height: 300px;
	padding: 0px;
}
.propic{
	overflow: hidden;
	position: relative;
	height: 100%;
    padding: 0px;
}
.propic img{
	height: 100%;
	width: 100%;
}
.mainDet{
	font-weight: bold;
	background-color: rgba(0,0,0,0.4);
	height: 100%;
	color: #FFF;
}
.contactWrap{
	text-align: center;
    color: #FFF;
}
.contactWrap div{
	padding: 10px;
	background-color:  #161616;
}
.thread hr{
	border: solid 0.5px #D05728;
}
.thread a{
	color: #919191;
}
.replies{
	padding: 0px;
	margin-top: 0px;
}
.reply{
	height: 150px;
	padding: 10px;
	margin-bottom: 10px; 
	background-color: #F7FCFF;
}
.nameWrap{
	border-right: solid 1px #D05728;
    height: 120px;

}
.nameWrap p{
	color: #919191;
}
.field-visibility-settings,.field-visibility-settings-open{
	color: #000;
}
.field-visibility-settings-toggle {
display:none;
}

.field-visibility-settings-notoggle {
display:none;
}

.rlink{
  color: #D05728;
  font-size: 15px;
  font-family: "FiraSans";
}
.rlink:hover{
	text-decoration: none;
}

.prof-inf-text{
	background-color: rgba(256,256,256,0.7);
	text-align: center;
	padding: 10px
}
.propic{
	height: 150px;
	width: 150px;
	padding: 10px;
	background-color: rgba(1,1,1,0.3);
	position: absolute;
    margin-left: 72%;
    z-index: 999;
}
.fullpro{
	height: 100px;
}
.fullpro h1{
    font-family: "FiraSans";
	text-decoration: underline;
	margin-bottom: 0px;
}
.prof-statuswrap{
	background-image:url(../Images/ground.png);
	background-size: cover;
	padding: 0px;
}
.fakeoverlay{
	height: 200px;
	background-color: rgba(0,0,0,0.6) !important;
}
.overlay{
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
	background-color: rgba(0,0,0,0.6);
}
.inner-text-wrap{
	background-color: rgba(127,127,127,0.4);
	padding: 10px !important;
    font-family: "Merriweather";
	margin-bottom: 0px !important;
}
.inner-text-wrap p{
		font-size: 15px !important;
}
.friends-wrap{
	padding: 0px;
}
.friendgrid-outer{
	padding: 0px;
	background-color: #123C69;
	
}
.friend-overlays{
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}
.prof-friend-grid{
	background-color: rgba(256,256,256,0.3);
}
.prof-friend-grid h4{
	background-color: rgba(0,0,0,0.4);
	color: #FFF;
	text-align: center;
    font-family: "PassionOne";
	font-size: 30px;
}
.add-btn{
	padding: 3px;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.3);
	margin-top: 5px;
}

.add-btn a{

text-decoration: none;
color: #FFF;
}
.add-btn a:hover,.add-btn a:active,.add-btn a:focus{
	
}
.submit-btn{
	margin: 5px;
	background-color: rgba(0,0,0,0.5) !important;
	border: 0px;
	color: #FFF;
	padding: 5px;
	border-radius: 3px;
}
.submit-btn:hover,.submit-btn:active,.submit-btn:focus{
	
	background-color: #123C68 !important;
	color: #FFF !important;
}
.fpost{
	box-shadow: #828282 1px 1px 1px;
	background-color: #FFF;
	padding: 10px;
	font-family: "Merriweather";
}
.fpost p{
	font-size: 15px;
}
.fpost h3{
	font-size: 20px;
}
.fpost a{
	text-decoration: none;
}
.main-title{
    font-family: "FiraSans";
    font-size: 35px !important; 
    text-decoration: underline;
}
blockquote{
	border-left: solid 5px #D05728; 
}
.status-area{
	padding: 5px !important;
}
.edit-addon{
	background-color: rgba(18,60,105,0.66);
	padding: 10px;
	border-radius: 0px;
	color: #FFF;
}
.tinted{
	background-color: rgba(17,34,51,0.3);
	height: 350px;
	margin: 5px;
}
.directory-wrap{
	background-color: #123;
	padding:10px;
	color: #FFF;
}
.directory-wrap h3{
	font-family: "FiraSans";
}
#bb-breadcrumb{
	height: 20px;
	padding: 1px;
	color: #337AB7 !important;
	overflow: hidden;
    font-family: "FiraSans";
}
#bb-breadcrumb a{
	text-decoration:none;
}
.forum-titles{
	font-family: "FiraSans";
}
.bbp-body{
	font-family: "Merriweather";
}
.bbp-body a{
    text-decoration: none;
}
.bbp-pagination{
	background-color: #123C69 !important;
	padding: 2px;
	color: #FFF;
	font-family: "Merriweather";
}
#forum-header{
	background-color: #123C69 !important;
	color: #FFF;
}
#forum-header a{
 color: #FFF;
 text-decoration: none;
}
.remove-border{
	border: 0px !important;
}
.bbp-meta{
	background-color: #123 !important;
	color: #FFF;
}
.bbp-reply-header{
	padding: 0px !important;
	border-top: 0px !important;
}
.bbp-meta{
	padding: 2px;
}
fieldset.bbp-form{
	border: 0px !important;
	padding: 0px !important;
}
.bbp-form legend{
	background-color: #123 !important;
	color: #FFF;
	margin-bottom: 0px;
	font-weight: bolder;
    font-family: "FiraSans";
	border-bottom: 0px !important;
}
.tagswrap{
	padding: 5px;
	width: auto;
	background-color: #123C69;
    color: #FFF;
    font-family: "FiraSans";
}
.tagswrap-dark{
	background-color: rgba(130,130,130,0.3);
    width: 40%;
    padding: 10px;
}
.fr-notice{

}
.msg-btn{
	background-color:  #123C69;
	color: #FFF;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
}
.msg-btn:hover,.msg-btn:active,.msg-btn:focus{
	text-decoration: none;
	color: #FFF;
}
.fr-notice{

	font-size: 15px;
}
.friend-notice{
	font-family: "FrancoisOne";
	padding-left: 0px;
}

.forum-titles li{

	font-size: 15px !important;
}
.mngl-board-post{
	background-color: #FFF;
}
.mngl-board-comments,.mngl-comment-table{
	margin: 0px !important;
	width: 100%;
	padding: 10px;
}
.mngl-board-comment-list{
	box-shadow: #828282 1px 1px 1px;
	margin: 0px 0px 10px 0px;
}
.mngl-board-post-message>a,.mngl-board-comment-message>a{
	font-family: "FiraSans";
}
.post-wrap{
	box-shadow: #828282 1px 1px 1px;
	padding: 5px;
	background-color: #FFF;
}
.post-wrap a{
	text-decoration: none;
}
.mngl-board-activity{
	box-shadow: #828282 1px 1px 1px;
	margin: 0px;
	padding: 3px;
}
#malinky-ajax-pagination-button{
	padding: 10px;
	text-decoration: none;
	color: #FFF;
	background-color: #D05728;
	border-radius: 5px;
	opacity: 0.5;
}
#malinky-ajax-pagination-button:hover{
	border: solid 1px #D05728;
    opacity: 1;
}
.directory-table tr{
  background-color: rgba(228,227,223,0.2);
}
.directory-table tr td{
	padding: 10px !important;
}
.directory-table tr td h3 a{
	color: #FFF;
	text-decoration: none;
}
.directory-table tr td h3{
	margin-bottom: 10px !important;
	font-family: "FiraSans";
}
.directory-background{
  background-color: #123 !important;
  color: #FFF;
  padding: 15px;
}
.avatar-direc img{
	padding: 5px;
     background-color: rgba(0,0,0,0.5);
}
.mngl-friend-list-header{
	padding: 0px;
}
.delete-btn{
	text-decoration: none;
	color: #FFF;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(228,227,223,0.3);
}
.delete-btn:hover,.delete-btn:active,.delete-btn:focus{
   text-decoration: #FFF;
   color: #FFF;
   font-weight: bolder;
}
.mngl_gray_box{
	border: 0px !important;
	background-color:  rgba(228,227,223,0.3) !important;
	border-radius: 5px;
}
.msg-table tr{
	background-color:  rgba(228,227,223,0.3);
}
.mngl_message_listing{
	font-family: "Merriweather";
	color: #FFF;
}
.mngl_message_listing a{
	font-family: "FiraSans";
}
.message-wrap{
	background-color: #123C69;
	padding: 20px;
}
.message-wrap h3{
	color: #FFF;
    font-family: "FiraSans";
}
.mngl-friend-requests{
	box-shadow: #828282 1px 1px 1px;
	background-color: #FFF;
	padding: 10px;
}
.accept-btn{
	background-color: #828282;
	color: #FFF;
	text-decoration: none;
	padding: 3px;
	border-radius: 3px;
}
.accept-btn:hover,.accept-btn:active,.accept-btn:focus{
	text-decoration: none;
	color: #FFF;
}
.ignore-btn{
	background-color: #BA6868;
	color: #FFF;
	text-decoration: none;
	padding: 3px;
	border-radius: 3px;
}
.ignore-btn:hover,.ignore-btn:active,.ignore-btn:focus{
	text-decoration: none;
	color: #FFF;
}
.req-name, .req-name:hover{
	text-decoration: none;
	font-weight: bolder;
}
.req-noti{
	background-color: #828282;
	color: #FFF;
	padding: 3px;
	width: 20%;
	margin-top: 5px;
	text-align: center;
	border-radius: 3px; 
}
.mngl-user-grid-table td{
	padding: 3px;
}
.error ul{
	padding-left: 0px;
}
.error ul li{
	color: #FFF;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	background-color: rgba(208,0,0,0.3);
	list-style-type: none;
}
tr.mngl_message_row td{
	border: 0px !important;
}
.mngl_message_listing a{
	color: #123;
}
.mngl-profile-tab{
	padding-top: 10px;
}